<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book View</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="body-container">
    <%- include('partials/header.ejs') %>
    <h1 class="h1 text-center">Edit Book</h1>
    <form action="/books/<%= book.id %>?_method=PUT" method="post" class="form-container">
        <label class="form-label">Review</label>
        <input type="text" name="review" id="review" class="form-input" value="<%= book.review %>">
        <label class="form-label">Rating</label>
        <input type="range" name="rating" id="rating" min="1" max="10" oninput="this.nextElementSibling.value = this.value" value="<%= book.rating %>">
        <output><%= book.rating %></output>
        <label class="form-label">Date Read</label>
        <% 
            const date = new Date(book.date_read);
            const day = String(date.getDate()).padStart(2, '0');
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const year = date.getFullYear();
            const formattedDate = `${year}-${month}-${day}`
        %>
        <input type="date" name="dateRead" value="<%= formattedDate %>">
        <button type="submit" class="primary-button">Save</button>
    </form>
</body>
</html>