<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Creation View</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="body-container">
    <%- include('partials/header.ejs') %>
    <h1 class="h1 text-center">Add a new Note</h1>
    <form action="/notes/<%= bookId %>" method="post" class="form-container">
        <label for="text" class="form-label">Note Text</label>
        <input name="text" id="text" class="form-input" placeholder="Write your note here"></input>
        <select name="chapter" id="chapter" class="selector">
            <optgroup label="chapters">
                <option value="">Select Chapter</option>
                <% for (const chapter of chapters) { %>
                    <option value="<%= chapter.id %>"><%= chapter.position_in_book %> - <%= chapter.title %></option>
                <% } %>
            </optgroup>
        </select>
        <button type="submit" class="primary-button">Save</button>
    </form>
</body>
</html>